body {
    background: #166534;
}


.titulo-principal {
    color: #2c3e50;
    font-weight: bold;
}

.tarjeta-inputs {
    background-color: #f8f9fa;
    border: 2px solid #dee2e6;
}

.btn-juego {
    font-weight: bold;
}

.resultado-final {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}



.carta {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    position: relative;
    width: 100px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.carta-valor {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
    font-weight: bold;
}

.carta-simbolo {
    font-size: 40px;
}


.btn-eliminar {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #dc3545; 
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    /* Aseguramos que el 'X' esté centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0;
}

.btn-eliminar:hover {
    background: #ff2f00;
}

.corazon-color,
.diamante-color {
    color: #dc3545;
}

.trebol-color,
.pica-color {
    color: #000;
}